@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

:root {

    /* VARIAVEIS DE CORES */

    --cor-branco-comeco-bloco: #F0F0F0;
    --cor-cinza-fim-bloco: #BCCCDC;


    --cor-bege-navbar: #D6C0B3;
    --cor-marrom-rodape: #493628;



    /* VARIAVEIS DE FONTES */

    --font-titulo: "Roboto", sans-serif;
    --weight-titulo: 400;

    --font-texto: "Roboto", sans-serif;
    --weight-texto: 200;
}


* {
    padding: 0;
    margin: 0;
    gap: 0;
    
}

body {
    background-color: var(--cor-cinza-fim-bloco);
}


/* CSS - NAVBAR */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    background-color: transparent;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
    background-color: var(--cor-bege-navbar);
}


.logomarca {
    height: 100px;
    padding-left: 2rem;
}


.cabecalho__itens {
    padding-right: 2rem;
}


.cabecalho__item {
    padding: 1.3rem;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}



/* CSS - NAVBAR */

.bloco__maior {
    margin: 2rem;
    padding: 4rem 18rem;
    border-radius: 1rem;
    background-color: var(--cor-branco-comeco-bloco);
}



/* CSS - BLOCO COMPLETO */

.box__geral {
  background-color: var(--cor-branco-comeco-bloco);
  margin: 2rem;
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form textarea {
  resize: none;
  height: 80px;
}

form button {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #ddd;
}

.divisoria {
  width: 2px;        /* largura da linha */
  height: 25rem;     /* altura da linha */
  background-color: black;
}