@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

:root {

    /* VARIAVEIS DE CORES */

    --cor-branco-comeco-bloco: #F0F0F0;
    --cor-cinza-fim-bloco: #BCCCDC;


    --cor-bege-navbar: #D6C0B3;
    --cor-marrom-rodape: #493628;



    /* VARIAVEIS DE FONTES */

    --font-titulo: "Roboto", sans-serif;
    --weight-titulo: 400;

    --font-texto: "Roboto", sans-serif;
    --weight-texto: 200;
}


* {
    padding: 0;
    margin: 0;
    gap: 0;
    
}

body {
    background-color: var(--cor-cinza-fim-bloco);
}


/* CSS - NAVBAR */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    background-color: transparent;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
    background-color: var(--cor-bege-navbar);
}


.logomarca {
    height: 100px;
    padding-left: 2rem;
}


.cabecalho__itens {
    padding-right: 2rem;
}


.cabecalho__item {
    padding: 1.3rem;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}



/* CSS - NAVBAR */

.bloco__maior {
    border-radius: 1rem;
    background-color: var(--cor-branco-comeco-bloco);
}



/* CSS - BLOCO COMPLETO */

.box__geral {
  background-color: var(--cor-branco-comeco-bloco);
  margin: 3rem 5rem;
  border-radius: 2rem;
  padding: 4rem 8rem;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.form__titulo {
  font-family: var(--font-texto);
  font-weight: var(--font-titulo);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 18rem;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form textarea {
  resize: none;
  height: 80px;
}

form button {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #ddd;
}


/* CSS - DIVISORIA */

.divisoria {
  width: 2px;
  height: 25rem;
  background-color: black;
}



/* CSS - LINKS */

.rs__primeira__linha {
  padding-top: 5rem;
}

.rs__primeira__linha__fotos {
  display: flex;
}

.rs__primeira__linha__fotos__conjunto {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.rs__segunda__linha__fotos__conjunto {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.rs__titulo {
  font-family: var(--font-titulo);
  font-weight: var(--weight-titulo);
}

.rs__imagem {
  height: 10rem;
  width: 10rem;
  padding: 0px 2rem;
}

.rs__link {
  margin-top: 1.5rem;
  text-decoration: none;
  font-family: var(--font-texto);
  font-weight: var(--weight-texto);
  font-size: 1.2em;
  color: black;
  border: solid black 2px;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* CSS - RODAPE */

.bloco__rodape {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  padding-right: 9%;
  padding-bottom: 1rem;
  text-align: center;
  background-color: var(--cor-bege-navbar);
}


.bloco__fotografa {
  font-size: 1.2em;
}


.rodape__logomarca {
  padding-top: 2rem;
  height: 8rem;
}

.links__titulo {
  padding: 1rem;
  text-decoration: none;
  font-family: var(--font-titulo);
  font-weight: var(--weight-titulo);
  font-size: 1.2em;
}
.links__link {
  padding: 1rem;
  text-decoration: none;
  font-family: var(--font-texto);
  font-weight: var(--weight-texto);
  font-size: 1.2em;
  color: var(--cor-marrom-rodape);
}

.div__links {
  display: flex;
}
.rodape__icones {
  padding-right: 0.4rem;
  height: 1.5rem;
}

.lorgomarca_folhas {
  height: 15rem;
}