@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

:root {

    /* VARIAVEIS DE CORES */

    --cor-branco-comeco-bloco: #F0F0F0;
    --cor-cinza-fim-bloco: #BCCCDC;


    --cor-bege-navbar: #D6C0B3;
    --cor-marrom-rodape: #493628;



    /* VARIAVEIS DE FONTES */

    --font-titulo: "Roboto", sans-serif;
    --weight-titulo: 400;

    --font-texto: "Roboto", sans-serif;
    --weight-texto: 200;
}


* {
    padding: 0;
    margin: 0;
    gap: 0;
    
}

.fim__de__bloco {
    background-color: var(--cor-cinza-fim-bloco);
    color: var(--cor-cinza-fim-bloco);
}


/* CSS DA NAVBAR */

.secao1_carrossel {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh; /* Define a altura como a tela toda */
    background-size: cover;
    background-position: center;
    animation: changeBackground 10s infinite;
}
@keyframes changeBackground {
    0%, 100% {
        background-image: url('imgs/imgs_home/sec1_carrossel/foto1.jpg');
    }
    33% {
        background-image: url('imgs/imgs_home/sec1_carrossel/foto2.jpg');
    }
    66% {
        background-image: url('imgs/imgs_home/sec1_carrossel/foto3.jpg');
    }
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    background-color: transparent;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
}


.logomarca {
    padding-left: 2rem;
}


.cabecalho__itens {
    padding-right: 2rem;
}


.cabecalho__item {
    padding: 1.3rem;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}


.div__seta__carrossel {
    display: flex;
    justify-content: center;
}
.seta__carrossel {
    height: 64px;
    width: 64px;
    position: absolute;
    bottom: 0;

    transform: translate(-50%, -50%);
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
}


/* CSS - SEÇÃO 2 - TRABALHOS RECENTES */

.secao2__titulo {
    font-size: 3em;
    padding: 2rem;
    text-align: center;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
}


.div1__trabalhos, .div2__trabalhos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.trabalhos__imagem {
    width: 33.33%;
    height: 400px;
}


.secao2__botao {
    font-size: 2em;
    padding: 2rem;
    text-align: center;
    background-color: var(--cor-cinza-fim-bloco);
}
.secao2__vejaMais {
    text-decoration: none;
    color: white;
    background-color: rgb(19 19 19 / 90%);
    border-radius: 8px;
    padding: 0.4rem 0.8rem;
    border: solid black;
}



/* CSS - SEÇÃO 3 - COMENTÁRIOS */

.secao3__titulo {
    font-size: 3em;
    padding: 2rem;
    text-align: center;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
}


/* CSS - CARROSSEL - SEÇÃO 3 - COMENTÁRIOS */

.box1 {
    display: flex;
    padding: 2rem 30rem 3rem 30rem;
    justify-content: center;
}
.box1__img {
    height: 350px;
    width: 350px;
    padding: 2  rem;
    border-radius: 1.5rem;
}
.box1__texto1 {
    font-size: 1.4em;
    padding: 0.7rem 2.3rem;
    text-align: center;
    font-family: var(--font-texto);
    font-weight: var(--weight-titulo);
}
.box1__texto2 {
    font-size: 1em;
    padding: 2rem;
    text-align: center;
    font-family: var(--font-texto);
    font-weight: var(--weight-titulo);
}
.box1__cliente {
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
    font-family: var(--font-texto);
    font-weight: var(--weight-titulo);
}



/* CSS - SEÇÃO 4 - TIPOS DE ENSAIOS */

.secao4__titulo {
    font-size: 3em;
    padding: 2rem;
    text-align: center;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
}


.div1__ensaios, .div2__ensaios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ensaios__imagem {
    width: 50%;
    height: 450px;
}


/* CSS - RODAPE */

.bloco__rodape {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    padding-right: 9%;
    padding-bottom: 1rem;
    text-align: center;
    background-color: var(--cor-bege-navbar);
}


.bloco__fotografa {
    font-size: 1.2em;
}


.rodape__logomarca {
    height: 8rem;
}

.links__titulo {
    padding: 1rem;
    text-decoration: none;
    font-family: var(--font-titulo);
    font-weight: var(--weight-titulo);
    font-size: 1.2em;
}
.links__link {
    padding: 1rem;
    text-decoration: none;
    font-family: var(--font-texto);
    font-weight: var(--weight-texto);
    font-size: 1.2em;
    color: var(--cor-marrom-rodape);
}